.DetailContainer {
      margin-left: 1rem;
      margin-top: 1rem;
      height: auto;
      overflow: hidden;
}

.DetailBrand {
 font-weight: 600;
}

.DetailSize {
font-size: .9rem;
}

.DetailPrice {
font-weight: bold;
}

.DetailOffer {
text-decoration: line-through;
color: rgb(189, 189, 189);
}

span {
      font-weight: 400;
}