.CardStyle {
  background-color: rgb(245, 245, 245);
  width: 15rem;
  height: 24.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0.5rem 1rem 2rem rgb(218, 218, 218);
}

a {
  text-decoration: none;
  color: inherit;
}