.btn-footer{
    background-color: #d1bea8;
    border:none;
    color: #fff;
    margin-left: 5px;
    border-radius: 5px;
    height: 45px;
    width: 200x;
    cursor: pointer;
    user-select: none;
}

.btn-footer:hover{
    background-color: #a19485;
}

.btn-nav{
    background-color:#1b1b1b !important;
    color: #fff !important;
}
