.cardContainer {
      height: auto;
      width: 100%;
      background-color: rgb(206, 206, 206);
      display: flex;
      margin-top: 1rem;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      flex-wrap: wrap;
      padding: 2rem 0;
}