*{
    margin: 0;
    border: 0;
}
.contenedor-principal{
    background-color: lightgreen;
    height: 50px;
}
.contenedor-texto{
    
    height: 100%;
    max-width: 1280px;
    padding: 15px 14px ;
    font-family: Lato, sans-serif;
}

.texto-oferta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}