*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}
.contenedor-principal{
    background-color: lightgreen;
    height: 50px;
}
.contenedor-texto{
    
    height: 100%;
    
    padding: 15px 14px ;
    font-family: Lato, sans-serif;
}

.texto-oferta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}