@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
}

/* ESTILOS NAVBAR COMPLETO */
.navBar__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.navbar_fixed{
    top: 0;
}

.links__navbar {
    text-decoration: none;
}

.LogoNavBar__container {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 12px;
    margin-left: 50px;
}

.btn-nav {
    height: 50px;
    width: 100px;

}

.btn-nav:hover {
    background-color: rgb(143, 143, 143) !important;
}

.userIconNavBar:hover {
    color: rgb(39, 42, 211);
}

.searchNavBar__container {
    border-radius: 4px;
    position: relative;
    border: 1px solid gray;
}

.searchNavBar__container svg {
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 0;
    margin-left: 5px;
}

.inputNavBar {
    padding: 10px 60px 10px 40px;
    outline: none;
}

.inputNavBar::placeholder {
    color: #989BA0;
}


.navBarHeader__container{
    background-color: #1b1b1b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800;
}

.navBarHeaderItem__container{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* FIN ESTILOS NAVBAR COMPLETO */

/* ESTILOS PARA ICONS DEL NAVBAR */
.lateralNavBar__container {
    display: flex;
    gap: 20px;
    min-width: 40%;
    margin-left: 200px;
    justify-content: center;
}

.nav__icons {
    margin-right: 40px;
    display: none;
}

.navicons__container button {
    background-color: rgb(255, 255, 255);
    color: #1b1b1b;
}

.navicons__container {
    display: flex;
    justify-content: space-between;
    min-width: 175px;
    height: 45px;
    font-size: 1.4rem;
}

.navicons__container a {
    text-decoration: none;
    color: #1b1b1b;
    align-self: center;
}

/* FIN ESTILOS ICONS NAVBAR */

/* ESTILOS PARA LAS PERSONAS (MUJER Y HOMBRE) */
.links__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 50%;
}

.sublinks__container {
    list-style: none;
    padding: 20px;
    margin: 0px 30px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.sublinks__container a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.icons__container {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-right: 20px;
}

.icons__container>li {
    list-style: none;
    border-radius: 50%;
    border: 1px solid rgb(54, 54, 54);
    padding: 15px;
}

.mobile__icons {
    display: none;
}

/* FIN ESTILOS HOMBRE Y MUJER */

/* ESTILOS PARA EL DROPDOWN DE HOMBRE Y MUJER */
.navbar__dropdown {
    display: flex;
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    padding: 42px;
    border-top: 1px solid #f3f5f8;
    overflow-y: auto;
    max-height: 390px;
    justify-content: center;
    cursor: default;
    z-index: 100;
    background-color: #fff;

}

.DropdownSections__container {
    display: flex;
    gap: 100px;
    height: 100%;
    width: 75%;
    justify-content: space-between;
}

.navBarItems__Container {
    width: 120vh;
    background-color: #fff;
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: flex-start;

}

.navBarItems__Container>ul {
    padding: 0;
    display: block;
    list-style-type: disc;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown__item {
    list-style-type: none;
    cursor: pointer;
    margin: 8px 0px;
    margin-left: 10px;
    color: #1b1b1b;
    font-weight: 200;
    font-size: 1em;
}

.dropdown__item:hover {
    color: #989BA0;
}

.title__dropdown {
    width: 100%;
    padding-left: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0;
    letter-spacing: .02em;
    color: #1b1b1b;

}

.vermas__container {
    width: 100%;
    padding-left: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0;
    letter-spacing: .02em;
    color: #1b1b1b;
}

.backgroundDropdown{
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 74, 74, 0.644);
}

/* FIN ESTILOS PARA EL DROPDOWN */

/* ESTILOS PARA OCULTAR DIV QUE PERTENECEN AL MENU MOBILE */
.sublinkMobile__container {
    display: none;
}

.navBarDropDownMobileMenu__container {
    display: none;
}

.mobilesearch {
    display: none;
}

/* FIN ESTILOS DESKTOP */

@media (max-width: 992px) {

    /* ESTILOS PARA ICONS MOBILE */
    .nav__icons {
        display: flex;
        align-items: center;
        font-size: 35px;
    }

    .desktop__icons {
        display: none;
    }

    .mobile__icons.closed {
        display: none;
    }

    .mobile__icons.active {
        display: flex;
        color: white;
        margin-top: 20px;
        height: 100px;
        align-items: center;
    }

    /*  FIN ESTILOS ICONS MOBILE */
    ul {
        justify-content: space-between;
    }

    .lateralNavBar__container {
        display: none;
    }

    /* ESTILOS PARA EL CONTENEDOR DEL MENU MOBILE */
    .links__container {
        display: flex;
        flex-flow: nowrap column;
        height: 100vh;
        min-width: 100%;
        top: 70px;
        left: -140%;

        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        transition: 0.4s left ease-in-out;
        z-index: 33;
    }

    .links__container a {
        color: rgb(100, 99, 99);
        font-weight: 100;
    }

    .links__container.active {
        left: 0;
        transition: 0.5s ease-in-out all;
    }

    .searchNavBar__container {

        display: flex;
        justify-content: center;
        background: #ffffff;
        width: 80%;
        margin-left: 10%;
        min-width: 10%;
        margin-bottom: 20px;
    }

    .searchNavBar__container>input {
        text-align: center;
    }

    .sublinks__container {
        display: none;
    }

    .listLinksMobileVersion__container {
        display: flex;
        height: 100vh;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 0 #bbbdc1;
        position: absolute;
        background: #ffffff;
        top: 41px;
        left: 0;
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .linkMobileContent_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 116px);
        overflow-y: auto;
    }

    .userLogin {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        gap: 0px 10px;
    }

    .userLoginIcon {
        display: flex;
        align-items: center;
        font-size: 1.1em;
    }

    .itemMenuMobile_container {
        display: flex;
        text-align: right;
        cursor: pointer;
        width: 100%;

        padding: 15px 27.5px;
        justify-content: space-between;
    }

    /* FIN ESTILOS MENU CONTAINER MOBILE */

    /* ESTILOS PARA LOS DROPDOWN DE CADA ITEM DEL MENU */
    .sublinkMobile__container {
        width: calc(100% - 20px);
        text-align: center;
        display: flex;
        text-align: right;
        cursor: pointer;
        min-height: 100px;
        width: 95%;
        margin: 0px 10px;
    }

    .vendermobile__container {
        display: flex;
        align-items: center;
    }

    .navBarDropDownMobileMenu__container.closed {
        height: 0px;
        overflow: hidden;
    }

    .navBarDropDownMobileMenu__container.active {
        color: rgb(0, 0, 0);
        padding: 10px 0px;
        display: flex;
        width: 100%;
        flex-flow: nowrap column;
        justify-content: flex-start;
        overflow: visible;
        background-color: #dfe2e2;
    }

    .linkdeploy {
        background-color: #dfe2e2;
        margin: 0;
        padding: 0px 25px;
        width: 100%;
    }

    .navBarItems__Container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: #dfe2e2;
    }

    /* FIN ESTILOS PARA ITEMS DEL MENU MOBILE */

    /* ESTILOS PARA EL SUBDROPDOWN DE CADA ITEM */
    .dropdown__item {
        display: flex;
        text-align: right;
        cursor: pointer;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .showContent {
        display: block;
    }

    .disableContent {
        display: none;
    }

    .vermas__container {
        display: none;
    }

    .dropdown__item {
        width: 100vh;
        margin: 5px 40px;
    }

    /* FIN ESTILOS SUBDROPDOWN */

    /* ESTILO PARA LAS ARROWS DE LOS ITEMS */
    .arrowmobile_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navBarHeader__container{
        display: none;
    }
}

@media (max-width: 576px) {
    .LogoNavBar__container {
        margin: 0;
        margin-bottom: 10px;
    }

    .nav__icons {
        margin: 0;
        margin-right: 10px;
    }

    .mobilesearch {
        width: 100%;
        margin: 0;
    }
}