@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');


.title{
    color: black;
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
}

.paragraph{
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}


@media (max-width: 1200px){
    .carousel__container{
        margin-top: 100px;
    }
}

@media (max-width: 700px){
    .carousel__container{
        margin-top: 120px;
    }
}

@media (max-width: 500px){
    .carousel__container{
        margin-top: 130px;
    }
}

