@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap');

html, body{
    font-family: 'Roboto Slab', serif;
    
}

.container-footer{
    max-width: 100vw;
    height: 300px;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px 20px 20px;
    font-size: 0.9rem;
    
}
ul{
    margin: 0;
    padding: 0;
}

.col{
    height: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    list-style: none;
}

.container-list{
    height: auto;
    width: 215px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.container-list-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px 0px 20px 0px;
}
.li-info:hover{
    padding-left: 10px;
    color: antiquewhite;
}

.container-bottom-footer{
    height: auto;
    background-color: #1b1b1b;
    border-top: 1px solid #65666a;
    color: #fff;
    padding: 50px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.input-mail{
    height: 45px;
    width: 220px;
    border-radius: 5px;
}
.container-email{
    display: flex;
    flex-wrap: wrap;
}
.img-icons-footer{
    height:35px;
    width: 35px;
}

.container-links-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.container-payment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15%;
}

 @media (max-width: 1024px){
    .container-footer {
        height: 100%;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .col{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .container-novedades{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .container-email{
        justify-content: center;
    }

    .container-list-info ul{
        width: 100%;
        justify-content: left;
        
    }
    .container-list-info ul {
        padding: 0px;
    }

    .container-bottom-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container-links-footer, .container-payment{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }
    .img-icons-footer{
        height:20px;
        width: 20px;
        margin: 0px 5px 0px 5px;
    }
    


}