*{
    margin: 0;
    border: 0;
}
.contenedor-principal{
    background-color: lightgreen;
    height: 50px;
}
.contenedor-texto{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.texto-oferta{
    font-family: Lato, sans-serif;
}